@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color:#FAFAFA;
  --secondary-color: #F5F5F5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: .5rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);

}

.search {
  background-color: transparent;
  border: 2px solid   #666;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #666;
}

.search::placeholder {
  color: #666;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.movie {
  width: 350px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
.movie img {
  width: 100%;
}
.movie-info {
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  backdrop-filter: blur(10px);
  color: #fff;
}
.movie:hover .overview {
  transform: translateY(0);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #666;
  margin-top: 2rem;
  padding: .3rem 0;
}
footer h1{
  font-size: 1.4rem;
  color: #666;
}